.card {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  text-align: center;
  cursor: pointer;
  transition: transform 0.2s ease, box-shadow 0.2s ease;


  img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 0.5rem;
  }

  h2 {
    font-size: 1.5rem;
    margin: 0.5rem 0;
  }

  button {
    padding: 0.4rem 0.8rem;
    border: none;
    background-color: #0077ff;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;

    &:hover {
      background-color: #005fcc;
    }
  }
}
